body{
    margin:0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1{
    margin:0;
    padding: 0;
    font-size: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
span::before{
    content: "HTML";
    animation:animate 10s infinite;
}
@keyframes animate{
    25%{
        content: "CSS";
    }
    50%{
        content: "JAVA";
    }
    75%{
        content: "CPP";
    }
    100%{
        content: "BOOTSTRAP";
    }
}
